#navbarContainer {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  transition: 0.3s;

  align-items: center;
  display: flex;
  justify-content: space-around;
  z-index: 99;
}
#nav1 {
  align-items: center;
  display: flex;
  justify-content: center;

  width: 200px;
  height: 100px;
}

#nav2 {
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  width: 1000px;
  height: 100px;
}
#nav3 {
  align-items: center;
  display: flex;
  justify-content: center;

  width: 200px;
  height: 100px;
}
#nav2 h5 {
  font-weight: 300;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}
#nav2 h5:hover {
  font-size: 1.75rem;
  font-weight: 600;
}
.scrolled-down {
  margin-top: -100px;
}
.lower {
  background-color: rgba(23, 32, 32, 0.96);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
#emphasize {
  background-color: #212f2f;
  padding: 10px 40px;
  border: 3px solid white;
  border-radius: 25px;
  font-size: 1.75rem;
}
#emphasize:hover {
  background-color: #3b4b4b;
  border: 3px solid rgb(173, 173, 173);
}
#logo {
  width: 130px;
  height: 70px;
  object-fit: cover;
  border-radius: 25px;
  cursor: pointer;
  user-select: none;
  opacity: 95%;
  transition: 0.3s;
}
#logo:hover {
  transform: scale(1.1);
}
#navButton {
  padding: 10px 40px;
  border-radius: 50px;
  font-size: 1.5rem;
  border: none;
  background-color: #f92f46;
  color: white;
  cursor: pointer;
  user-select: none;
}
#navButton {
  padding: 10px 40px;
  border-radius: 50px;
  font-size: 1.5rem;
  border: none;
  background-color: #f92f46;
  color: white;
  cursor: pointer;
  user-select: none;
}
.hamburger {
  display: none;
  font-size: 2em;
  cursor: pointer;
  background-color: #212f2f;
  padding: 10px 30px;
  border: 3px solid white;
  user-select: none;
  border-radius: 25px;
  transition: 0.3s;
}
.hamburger:hover {
  background-color: #3b4b4b;
  border: 3px solid rgb(173, 173, 173);
}
@media (max-width: 950px) {
  .hamburger {
    display: block;
    background-color: #212f2f;
  }
  #nav2 {
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: -650px;
    left: 0;
    background-color: #1d2727;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    z-index: -5;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    display: flex;
  }
  .pressed {
    margin-top: 650px;
  }
  #nav2 h5 {
    margin: 15px 0px;
    padding: 20px 175px;
    border-radius: 25px;
  }

  #nav1 {
    width: 100px;
  }
  #logo {
    width: 80px;
  }
  #nav3 {
    width: 100px;
  }
  #navButton {
    font-size: 1rem;
    padding: 10px 20px;
  }
  #emphasize {
    background-color: transparent;
    padding: 20px 175px;
    border: 3px solid transparent;
    border-radius: 25px;
    font-size: 1.75rem;
    font-weight: 800 !important;
  }
}
